.img-fluid{
    width: 150px;
    height: auto;
    cursor: pointer;
}

@media (max-width: 768px) {
    .img-fluid{
      width: 120px;
    }
  }
  
  @media (max-width: 576px) {
    .img-fluid{
      width: 100px;
    }
  }
  