/* Контейнер */
.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Кнопка бургер-меню */
.burger-menu {
  position: absolute;
  top: 20px;
  right: -3px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 3px 13px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1002;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.burger-menu:hover {
  transform: scale(1.1);
}

/* Меню справа */
.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  transition: right 0.3s ease-in-out;
  padding-top: 50px;
  padding-left: 20px;
  z-index: 1001;
}

.menu.open {
  right: 0;
}

/* Список меню */
.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 15px;
}

/* Исправляем цвет ссылок */
.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline;
}

/* Затемнение фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: auto;
}

/* Iframe */
.iframe {
  position: relative;
  z-index: 1;
}
