.address-link,
.email-link,
.web-link,
.phone-link {
  color: #f8f9fa;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold; 
  transition: color 0.3s, text-decoration 0.3s;
}

.address-link:hover,
.email-link:hover,
.web-link:hover,
.phone-link:hover {
  color: #FFD700;
  font-weight: bold; 
  text-decoration: underline;
}

.img-fluid{
  width: 150px;
}

@media (max-width: 768px) {
  .img-fluid{
    width: 120px;
  }
}

@media (max-width: 576px) {
  .img-fluid{
    width: 100px;
  }
}

